{% extends 'portal/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block css %}
{% endblock %}
{% block content %}

<div id="all">
    <div id="content">
      <div class="container">
        <div class="card">
          <div class="row">
            <div class="col-lg-12" id="">
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                  {{message}}
                </div>
            {% endfor %}
            </div>
            <div class="col-lg-6 form-validation" id="registertab1">
              <form class="form-valid" action="#" method="POST">
                {% csrf_token %}
              <div class="box">
                <h1>New account</h1>
                <p class="lead">Not our registered customer yet?</p>
                <p>By registering with us fantastic discounts and much more opens to you! The whole process will not take you more than a minute!</p>
                <hr>
                <div class="form-group ">
                  <div class="col-lg-8">
                    <label for="firstname">First Name</label>
                    <input id="firstname" name="firstname" type="text" class="form-control">
                  </div>
                  <div class="col-lg-8">
                    <label for="lastname">Last Name</label>
                    <input id="lastname" name="lastname" type="text" class="form-control">
                  </div>
                <!-- </div> -->
                <div class="col-lg-8">
                  <label for="email">Email</label>
                  <input id="email" name="email" type="text" class="form-control">
                </div>
                <div class="col-lg-8">
                  <label for="phone">Phone</label>
                  <input id="phone" name="phone" type="text" class="form-control">
                </div>
                <div class="col-lg-8">
                  <label for="password">Password</label>
                  <input id="password" name="password" type="password" class="form-control">
                </div>
                <div class="col-lg-8">
                  <label for="confirmpassword">Confirm Password</label>
                  <input id="confirmpassword" name="confirmpassword" type="password" class="form-control">
                </div>
                </div>
                <!-- <div class="row">
                  <div class="form-group col">
                    <label for="firstname">First Name</label>
                    <input id="firstname" name="firstname" type="text" class="form-control">
                  </div>
                  <div class="form-group col">
                    <label for="lastname">Last Name</label>
                    <input id="lastname" name="lastname" type="text" class="form-control">
                  </div>
                </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="email" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input id="phone" name="phone" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <input id="confirmpassword" name="confirmpassword" type="password" class="form-control">
                  </div> -->
                  <div class="col-lg-6 mt-3">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user-md"></i> Register</button>
                  </div>
                  <!-- <div class="">
                  </div> -->
                </div>
              </form>
              </div>
            <div class="col-lg-6" id="logintab">
              <div class="box">
                <h1>Login</h1>
                <p class="lead">Already our customer?</p>
                <hr>
                <form action="/login/" method="post">
                  {% csrf_token %}
                  <div class="col-lg-8 form-group">
                    <label for="email">Username</label>
                    <input id="username" name="username" type="text" class="form-control">
                  </div>
                  <div class="col-lg-8 form-group">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" class="form-control">
                  </div>
                  <div class="">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}

{% block script %}
<script src="{% static 'dashboard/plugins/validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'dashboard/plugins/validation/jquery.validate-init.js' %}"></script>
<script type="text/javascript">

    jQuery(".form-valid").validate({
        rules: {
            "firstname": {
              required: !0,
              minlength: 1
            },
            "lastname": {
              required: !0,
              minlength: 1
            },
            "email": {
              required: !0,
              email: !0
            },
            "phone": {
              required: !0,
              minlength: 10
            },
            "password": {
              required: !0,
              minlength: 8
            },
            "confirmpassword": {
              required: !0,
              minlength: 8,
              equalTo: "#password"
            },
        },
        messages: {
            "firstname": {
                required: "Please enter first name",
                minlength: "Please enter first name"
            },
            "lastname": {
                required: "Please enter last name",
                minlength: "Please enter last name"
            },
            "email": {
                required: "Please enter email",
                minlength: "Please enter email"
            },
            "phone": {
                required: "Please enter phone number",
                minlength: "Please enter phone number"
            },
            "password": {
                required: "Please enter password",
                minlength: "Your password must be at least 8 characters long"
            },
            "confirmpassword": {
              required: "Please enter password",
              minlength: "Your password must be at least 8 characters long",
              equalTo: "Please enter the same password as above"
            },
        },

        ignore: [],
        errorClass: "invalid-feedback animated fadeInUp",
        errorElement: "div",
        errorPlacement: function(e, a) {
            jQuery(a).parents(".form-group > div").append(e)
        },
        highlight: function(e) {
            jQuery(e).closest(".form-group").removeClass("is-invalid").addClass("is-invalid")
        },
        success: function(e) {
            jQuery(e).closest(".form-group").removeClass("is-invalid"), jQuery(e).remove()
        },
    });

</script>
{% endblock %}