{% extends 'portal/base.html' %}
{% load static %}
{% block title %}Ecom{% endblock %}
{% block css %}
<style>
     /********************* Shopping Demo-7 **********************/
.product-grid7{font-family: "Roboto", Helvetica, Arial, sans-serif;position:relative;z-index:1;margin-bottom: 15px;}
.product-grid7 .product-image7{
  /* border:1px solid rgba(0,0,0,.1); */
  overflow:hidden;perspective:1500px;position:relative;transition:all .3s ease 0s;background-color: #fff;}
.product-grid7 .product-image7 a{display:block}
.product-grid7 .product-image7 img{width:100%;height:auto}
.product-grid7 .pic-1{opacity:1;transition:all .5s ease-out 0s}
.product-grid7 .pic-2{opacity:0;transform:rotateY(-90deg);position:absolute;top:0;left:0;transition:all .5s ease-out 0s}
.product-grid7:hover .pic-2{opacity:1;transform:rotateY(0)}
.product-grid7 .social{padding:0;margin:0;list-style:none;position:absolute;bottom:3px;left:-20%;z-index:1;transition:all .5s ease 0s}
.product-grid7:hover .social{left:17px}
.product-grid7 .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:15px 0;border-radius:50%;display:block;transition:all .5s ease-in-out}
/* .product-grid7 .social li a:hover{color:#fff;background-color:#78e08f} */
.product-grid7 .product-new-label{color:#fff;background-color:#333;padding:5px 10px;border-radius:5px;display:block;position:absolute;top:10px;left:10px}
.product-grid7 .product-content{text-align:center;padding:20px 0 0}
.product-grid7 .title{font-size:15px;font-weight:500;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;}
.product-grid7 .title a{color:#333}
/* .product-grid7 .title a:hover{color:#78e08f} */
/* .product-grid7 .rating{color:#78e08f;font-size:12px;padding:0;margin:0 0 10px;list-style:none} */
.product-grid7 .price{color:#333;font-size:15px;font-family: "Roboto", Helvetica, Arial, sans-serif;font-weight:700;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid7 .price span{color:#999;font-size:13px;font-weight:300;text-decoration:line-through;margin-left:7px;display:inline-block}
@media only screen and (max-width:990px){.product-grid7{margin-bottom:30px}
}
@media only screen and (max-width: 576px) {
    .sidemenucategory {
        display:none;
    }
}
@media only screen and (min-width: 576px) {
    .cardmenuheader {
        display:none;
    }
}
</style>
{% endblock %}
{% block content %}
<div id="all">
    <div id="content">
      <div class="container">
        <div class="row mt-4">
          <div class="col-lg-3">
            <!--
            *** MENUS AND FILTERS ***
            _________________________________________________________
            -->
            <div class="card-header cardmenuheader" onclick="menuchange()" style="cursor: pointer;">
                <h3 class="h4 card-title">Menu</h3>
            </div>
            <div class="sidemenucategory">
            <div class="card sidebar-menu mb-4">
              <div class="card-header">
                <h3 class="h4 card-title">Categories</h3>
              </div>
              <div class="card-body ">
                <ul class="nav nav-pills flex-column category-menu">
                  <li><a href="#" class="nav-link">Mobile Phones <span class="badge badge-secondary">42</span></a>
                    <ul class="list-unstyled">
                        <li><a href="#" class="nav-link">Nokia</a></li>
                        <li><a href="#" class="nav-link">Apple</a></li>
                        <li><a href="#" class="nav-link">Samsung</a></li>
                        <li><a href="#" class="nav-link">Redmi</a></li>
                        <li><a href="#" class="nav-link">Xiomi</a></li>
                        <li><a href="#" class="nav-link">Vivo</a></li>
                        <li><a href="#" class="nav-link">Oneplus</a></li>
                    </ul>
                  </li>
                  <li><a href="#" class="nav-link ">Accessories  <span class="badge badge-light">123</span></a>
                    <ul class="list-unstyled">
                        <li><a href="#" class="nav-link">Screen Guard</a></li>
                        <li><a href="#" class="nav-link">Mobile Cases</a></li>
                        <li><a href="#" class="nav-link">Cables</a></li>
                        <li><a href="#" class="nav-link">Charge</a></li>
                        <li><a href="#" class="nav-link">Earphones</a></li>
                        <li><a href="#" class="nav-link">Bluetooth Earphones</a></li>
                        <li><a href="#" class="nav-link">Powerbank</a></li>
                    </ul>
                  </li>
                  <li><a href="#" class="nav-link ">Laptops  <span class="badge badge-light">123</span></a>
                    <ul class="list-unstyled">
                      <li><a href="#" class="nav-link">HP</a></li>
                      <li><a href="#" class="nav-link">Acer</a></li>
                      <li><a href="#" class="nav-link">Lenovo</a></li>
                      <li><a href="#" class="nav-link">Dell</a></li>
                      <li><a href="#" class="nav-link">Apple</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <div class="card sidebar-menu mb-4">
              <div class="card-header">
                <h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
              </div>
              <div class="card-body sidemenucategory">
                <form>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Armani  (10)
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Versace  (12)
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Carlo Bruni  (15)
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"> Jack Honey  (14)
                      </label>
                    </div>
                  </div>
                  <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                </form>
              </div>
            </div> -->
            <!-- <div class="card sidebar-menu mb-4">
              <div class="card-header">
                <h3 class="h4 card-title">Colours <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
              </div>
              <div class="card-body sidemenucategory    ">
                <form>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><span class="colour white"></span> White (14)
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><span class="colour blue"></span> Blue (10)
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><span class="colour green"></span>  Green (20)
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><span class="colour yellow"></span>  Yellow (13)
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox"><span class="colour red"></span>  Red (10)
                      </label>
                    </div>
                  </div>
                  <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                </form>
              </div>
            </div> -->
        </div>
            <!-- *** MENUS AND FILTERS END ***-->
            <!-- <div class="banner"><a href="#"><img src="img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div> -->
          </div>
          <div class="col-lg-9">
            <div class="box info-bar">
              <div class="row">
                <div class="col-md-12 col-lg-4 products-showing">Showing <strong>12</strong> of <strong>25</strong> products</div>
                <div class="col-md-12 col-lg-7 products-number-sort">
                  <form class="form-inline d-block d-lg-flex justify-content-between flex-column flex-md-row">
                    <div class="products-number"><strong>Show</strong><a href="#" class="btn btn-sm btn-primary">12</a><a href="#" class="btn btn-outline-secondary btn-sm">24</a><a href="#" class="btn btn-outline-secondary btn-sm">All</a><span>products</span></div>
                    <div class="products-sort-by mt-2 mt-lg-0"><strong>Sort by</strong>
                      <select name="sort-by" class="form-control">
                        <option>Price</option>
                        <option>Name</option>
                        <option>Sales first</option>
                      </select>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="row products">
              <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="product-grid7 card">
                    <div class="product-image7">
                        <a href="#">
                            <img class="pic-1 mt-3 mb-3" src="{% static 'img/productimages/Apple_iPhone_12_Progold-1.webp' %}">
                            <img class="pic-2 mt-3 mb-3" src="{% static 'img/productimages/Apple_iPhone_12_Progold-1.webp' %}">
                        </a>
                        <span class="product-new-label">New</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Apple iPhone 12 Pro | 256 GB | Gold</a></h3>
                        <div class="price">₹ 129,900.00
                            <span>₹ 130,000.00</span>
                        </div>
                        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                    </div>
                </div>
                <!-- /.product            -->
              </div>
              <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="product-grid7 card">
                    <div class="product-image7">
                        <a href="#">
                            <!-- <img class="pic-1" src="http://bestjquery.com/tutorial/product-grid/demo8/images/img-1.jpg"> -->
                            <img class="pic-1 mt-3 mb-3" src="{% static 'img/productimages/iphone-11-128-black1.webp' %}">
                            <img class="pic-2 mt-3 mb-3" src="{% static 'img/productimages/iphone-11-128-black1.webp' %}">
                        </a>
                        <span class="product-new-label">New</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Apple iPhone 11 | Black | 128 GB</a></h3>
                        <div class="price">₹ 59,900.00
                            <span>₹ 73,600.00</span>
                        </div>
                        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                    </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="product-grid7 card">
                    <div class="product-image7">
                        <a href="#">
                            <img class="pic-1 mt-3 mb-3" src="{% static 'img/productimages/oneplus-8T-Aquamarine-green-1_0hzk-m2.webp' %}">
                            <img class="pic-2 mt-3 mb-3" src="{% static 'img/productimages/oneplus-8T-Aquamarine-green-1_0hzk-m2.webp' %}">
                        </a>
                        <span class="product-new-label">New</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">OnePlus 8T 5G | 8GB RAM/128GB Storage | Aquamarine Green</a></h3>
                        <div class="price">₹ 42,999.00
                            <span></span>
                        </div>
                        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                    </div>
                </div>
                <!-- /.product            -->
              </div>
              <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="product-grid7 card">
                    <div class="product-image7">
                        <a href="#">
                            <img class="pic-1 mt-3 mb-3" src="{% static 'img/productimages/Realme-watch1.webp' %}">
                            <img class="pic-2 mt-3 mb-3" src="{% static 'img/productimages/Realme-watch1.webp' %}">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Realme Smart Watch | Black Strap</a></h3>
                        <div class="price">₹ 2,299.00
                            <span>₹ 6,999.00</span>
                        </div>
                        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                    </div>
                </div>
                <!-- /.product            -->
              </div>
              <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="product-grid7 card">
                    <div class="product-image7">
                        <a href="#">
                            <img class="pic-1 mt-3 mb-3" src="{% static 'img/productimages/Samsung_Galaxy_S10_Lite-1.webp' %}">
                            <img class="pic-2 mt-3 mb-3" src="{% static 'img/productimages/Samsung_Galaxy_S10_Lite-1.webp' %}">
                        </a>
                        <span class="product-new-label">New</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Samsung Galaxy S10 Lite | 128 GB/8 GB RAM | Prism Black</a></h3>
                        <div class="price">₹ 32,999.00
                            <span>₹ 43,999.00</span>
                        </div>
                        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                    </div>
                </div>
                <!-- /.product            -->
              </div>
              <div class="col-lg-3 col-md-6 col-xs-6">
                <div class="product-grid7 card">
                    <div class="product-image7">
                        <a href="#">
                            <img class="pic-1 mt-3 mb-3" src="{% static 'img/productimages/toshiba-1.webp' %}">
                            <img class="pic-2 mt-3 mb-3" src="{% static 'img/productimages/toshiba-1.webp' %}">
                        </a>
                        <span class="product-new-label">New</span>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Toshiba Tecra C50 15.6-inch Laptop | Core i3 8th Gen /4GB/1TB/Intel HD Graphics/Windows 10 | Carbon Black</a></h3>
                        <div class="price">₹ 29,990.00
                            <span>₹ 70,400.00</span>
                        </div>
                        <p class="buttons"><a href="detail.html" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                    </div>
                </div>
                <!-- /.product            -->
              </div>
              <!-- /.products-->
            </div>
            <div class="pages">
              <p class="loadMore"><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a></p>
              <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                <ul class="pagination">
                  <li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                  <li class="page-item active"><a href="#" class="page-link">1</a></li>
                  <li class="page-item"><a href="#" class="page-link">2</a></li>
                  <li class="page-item"><a href="#" class="page-link">3</a></li>
                  <li class="page-item"><a href="#" class="page-link">4</a></li>
                  <li class="page-item"><a href="#" class="page-link">5</a></li>
                  <li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- /.col-lg-9-->
        </div>
      </div>
    </div>
  </div>
{% endblock%}

{% block script %}
<script type="text/javascript">
function menuchange() {
    var displayprop = $(".sidemenucategory").css( "display" );
    if(displayprop=="none"){
        $(".sidemenucategory").css( "display", "block" );
    }
    else{
        $(".sidemenucategory").css( "display", "none" );
    }
}
</script>
{% endblock %}